.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  width: 23%;
  margin: 10px;
  text-align: center;
  border: 1px solid #dddddd;
  transition: 0.15s all;
}

.flex-container > div:hover {
  transform: scale(1.02);
}

.new-bg {
  background: white;
  margin: auto;
  width: 100%;
  border: 1px #c5c8cc solid;
}

.active-breadcrum {
  color: #23527a;
}

.compare-btn {
  color: white;
  background: #6485a2;
  border-radius: 10px;
  padding: 7px 20px;
  font-size: 18px;
}

.compare-btn:hover {
  color: white;
  text-decoration: none;
}

/* Sidebar outline */
.sidebar-outline {
  border: 1px #c5c8cc solid;
}
